.hud {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  z-index: 1;
}

.hud-element {
  cursor: pointer;
  font-size: 20px;
}

.nav-icon {
  height: 50px;
  width: 50px;
}

.prof-links {
  z-index: 1;
}

.profile-links {
  height: 40px;
  width: 40px;
  margin: 0px 15px 0px 15px;
}

.tempo-meter {
  width: 40vw;
  margin: 20px;
  background-color: #b61924;
}

.tempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  z-index: 1;
}

.tempo-meter {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 40vw;
  direction: rtl;
}

.tempo-meter:focus {
  outline: none;
}

.tempo-meter::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: black;
  border-radius: 25px;
  border: 1px solid black;
}

.tempo-meter::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid black;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.tempo-meter:focus::-webkit-slider-runnable-track {
  background: black;
}

.tempo-meter::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: black;
  border-radius: 25px;
  border: 1px solid black;
}

.tempo-meter::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid black;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #FFFFFF;
  cursor: pointer;
}

.tempo-meter::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.tempo-meter::-ms-fill-lower {
  background: black;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}

.tempo-meter::-ms-fill-upper {
  background: black;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}

.tempo-meter::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid black;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #FFFFFF;
  cursor: pointer;
}

.tempo-meter:focus::-ms-fill-lower {
  background: black;
}

.tempo-meter:focus::-ms-fill-upper {
  background: black;
}