.title {
  font-size: 60px;
  font-family: 'Rubik Mono One', sans-serif;
  color: red;
}

.app-container {
  width: 100vw;
  height: 100vh;
  background-image: url("rainbow-splash.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}