.sound {
  display: flex;
}

.beat-row {
  display: flex;
}


.beat-row li {
  list-style: none;
  height: 25px;
  width: 2vw;
  background-color: gray;
  border: black solid 1px;
}

li.active {
  background-color: red;
}

li.clicked {
  background-color: red;
}

.hud {
  display: flex;
  justify-content: space-evenly;
}

.hud-element {
  cursor: pointer;
  font-size: 20px;
}