.beat-table-container {
  display: flex;
  align-items: center;
}

.beat-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.beat-row {
  display: flex;
}

.beat-row li {
  list-style: none;
  height: 36px;
  max-height: 36px;
  width: 36px;
  max-width: 36px;
  background-color: black;
  opacity: 0.3;
  border-radius: 5px;
  margin: 4px;
}

li.active {
  background-color: red;
  opacity: 1.0;
}

li.clicked {
  background-color: red;
  opacity: 1.0;
}

li {
  border: 2px solid black;
}

.minimized {
  display: none;
}